<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IT Article Database</title>
        <style>
            h2 {
                color:black;
                text-align: center;
            }
            table {
                border-collapse: collapse;
                table-layout: fixed;
                width: 100%;
            }
            th {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
                background-color: #f2f2f2;
            }
            td:not(.wide) {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center; 
                width: 100px;
                overflow: scroll;
            }
            .wide {
                border: 1px solid #ddd;
                padding: 8px;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

            }
        </style>
    </head>
    <body>
        <h2>Article Archive</h2>
        <div>
            <form action="" method="post">
                시작 날짜 : 
                <select name="startdate" size="1">
                    <option value="2023-12-26" selected>2023-12-26</option>
                    <option value="2023-12-27">2023-12-27</option>
                    <option value="2023-12-28">2023-12-28</option>
                </select> &ensp;
                 종료 날짜 : 
                <select name="enddate" size="1">
                    <option value="20231226" selected>2023-12-26</option>
                    <option value="20231227">2023-12-27</option>
                    <option value="20231228">2023-12-28</option>
                </select> &ensp;
                 언론사 :  
                <select name="press" size="1">
                    <option value="뉴시스" selected>뉴시스</option>
                    <option value="동아일보">동아일보</option>
                    <option value="지디넷코리아">지디넷코리아</option>
                    <option value="국민일보">국민일보</option>
                    <option value="헤럴드경제">헤럴드경제</option>
                    <option value="KBS">KBS</option>
                    <option value="아이뉴스24">아이뉴스24/option>
                    <option value="연합뉴스">연합뉴스</option>
                    <option value="세계일보">세계일보</option>
                    <option value="이코노미스트">이코노미스트</option>
                    <option value="디지털타임스">디지털타임스</option>
                    <option value="코리아중앙데일리">코리아중앙데일리</option>
                    <option value="전자신문">전자신문</option>
                    <option value="이데일리">이데일리</option>
                    <option value="서울경제">서울경제</option>
                    <option value="중앙일보">중앙일보</option>
                    <option value="블로터">블로터</option>
                    <option value="경향신문">경향신문</option>
                    <option value="매일경제">매일경제</option>
                    <option value="뉴스1">뉴스1</option>
                    <option value="머니투데이">머니투데이</option>
                    <option value="스포츠서울">스포츠서울</option>
                    <option value="서울신문">서울신문</option>
                    <option value="한국일보">한국일보</option>
                    <option value="부산일보">부산일보</option>
                    <option value="엑스포츠뉴스">엑스포츠뉴스</option>
                    <option value="노컷뉴스">노컷뉴스</option>
                    <option value="문화일보">문화일보</option>
                    <option value="한국경제TV">한국경제TV</option>
                    <option value="조선일보">조선일보</option>
                    <option value="한겨례">한겨례</option>
                    <option value="비즈워치">비즈워치</option>
                    <option value="머니S">머니S</option>
                </select> &ensp;

                Page Size : 
                <select name="pagesize" size="1">
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                </select> &ensp;
                Page Number : 
                <select name="pagenumber" size="1">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                </select> &ensp;&ensp;
                <input type="submit" value="제출"/>
            </form>
            

        </div>
        {% if article==None %}
            <h4>No data available at the moment.Please click the submit button above.</h4>
        {% else %}
            <table>
                <thead>
                    <th>date</th>
                    <th>category</th>
                    <th>press</th>
                    <th>title</th>
                    <th>document</th>
                    <th>link</th>
                </thead>
                <tbody>
                    {% for item in article %}
                        <tr>
                            <td class="not_wide">{{item[0]}}</td>
                            <td class="not_wide">{{item[1]}}</td>
                            <td class="not_wide">{{item[2]}}</td>
                            <td class="not_wide">{{item[3]}}</td>
                            <td class="wide">{{item[4]}}</td>
                            <td class="wider">{{item[5]}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </body>
</html>
